/* Workout Kitchen - Group Project */
/* General Styling */


/* General Property given to body and margin and padding set to zero to avoid possible confusion when using these properties */
body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */
/* navbar */

header {
  background-color: white;
}
.navBar {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  align-items: center;
  z-index: 1;
}
.navbarLinks {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2vw;
  letter-spacing: 0.1em;
  font-weight: 700;
  
}
.nav {
  --bs-nav-link-color: black;
}
.navbarLinks li {
  padding-left: 3vw;
  padding-right: 3vw;
}
.navbarLinks a {
  border-bottom: solid 2px black;
}
.iconLink img {
  width: auto;
  max-height: 175px;
}

/* Making Icon more responsive for smaller screens  */
@media only screen and (max-width: 360px) {
  .iconLink img {
      max-height: 50vw;
  }
 }


/* ------ */
/* Jumbotron */

#jumbotron {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

#jumbotronText {
  width: 50%;
  padding-left: 10%;
  display: flex;
  text-align: center;
}

#jumbotronImage {
  border-radius: 10px;
}

/* ------ */
/* Cards for recipes */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  margin: 10px;
}
.card-title {
  text-align: center;
}
.btn {
  margin: 10px;
}

/*--Navbar position--*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/*--Footer--*/
footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-top: 2px solid black;
  padding: 10px;
}



/*--Select menus--*/
label { 
  display: block; 
}

select { 
  width: 200px; 
}