/* Workout Kitchen - Group Project */
/* General Styling */

/* General Property given to body and margin and padding set to zero to avoid possible confusion when using these properties */
body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */
/* navbar */

header {
  background-color: white;
}
.navBar {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  align-items: center;
  z-index: 1;
}
.navbarLinks {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2vw;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.nav {
  --bs-nav-link-color: black;
}
.navbarLinks li {
  padding-left: 3vw;
  padding-right: 3vw;
}
.navbarLinks a {
  border-bottom: solid 2px black;
}
.iconLink img {
  width: auto;
  max-height: 175px;
}

/* Making Icon more responsive for smaller screens  */
@media only screen and (max-width: 360px) {
  .iconLink img {
    max-height: 50vw;
  }
}

/* NavBar Shape Divider */
/* https://www.shapedivider.app/ */
.custom-shape-divider-top-1675628588 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1675628588 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}
.custom-shape-divider-top-1675628588 .shape-fill {
  fill: #f1af41;
}

/* ------ */
/* jumbotron */
#jumbotron {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding-right: 2%;
  padding-left: 2%;
  position: relative;
}
#jumbotronImage {
  width: 50%;
  height: 50%;
}
#jumbotronText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 37.5%;
  padding: 10% 3% 10% 3%;
}
#jumbotronWorkout,
#jumbotronKitchen {
  display: flex;
  font-size: 5vw;
  font-weight: 700;
  margin: 0;
}
#jumbotronWorkout {
  justify-content: flex-start;
}
#jumbotronKitchen {
  justify-content: flex-end;
  padding-bottom: 1vw;
  border-bottom: 1px solid black;
  margin-bottom: 1vw;
}
#jumbotronSlogan {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}

/* Divider between Header and Main */
.custom-shape-divider-top-1675629525 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1675629525 svg {
  position: relative;
  display: block;
  width: calc(182% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}
.custom-shape-divider-top-1675629525 .shape-fill {
  fill: #ffffff;
}

/* ------ */
main {
  margin-bottom: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  height: 20vw;
}
/* input for user */
#recipeForm, #exerciseForm {
  display: flex;
  justify-content:space-evenly;
}
#recipeForm{
  width: 50%;
}
#exerciseForm {
  width: 80%;
}
#recipe, #exercises, .cardContainer{
  width: 84vw;
  height: 13vw;
  border-radius: 3vw;
  background-color: white;
  box-shadow: 4px 4px 26px -3px rgba(0,0,0,0.1);    
}
.formText {
  color: black;
  font-weight: 700;
  font-size: 2vw;
  letter-spacing: 0.1em;
  padding: 1.5% 0% 0% 5%;
  margin-bottom: 0;
}
.userSearch {
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}
#recipeInput, #exerciseLevel, #exerciseType{
  padding: 1vw;
  font-size:1.5vw;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
  width: 20vw;
  height: 5vw;
}
#recipeInput {
  text-align: center;
}
#exerciseLevel, #exerciseType {
  width: 23vw;
}
.buttonSearch{
  font-weight: 600;
  font-size: 1.25vw;
  color: #000000;
  background-color: #f1af41;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 3vw;
  width: 10vw;
}
.btn-recipe, .btn-exercises {
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
.btn {
  margin-right: 2vw;
}

/* Card Container */
.cardContainer {
height: auto;
/* display: none; */
}
.container-fluid {
  padding: 0;
}
.row {
  justify-content: center;
  margin: 0;
  padding: 1vw;
}
.col {
  margin: 1vw 0 1vw 0;
  padding: 0 1vw;
}
.card-title {
  font-size: 3vw;
}
.card-text {
  font-size: 2vw;
}





/* Cards for recipes */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
.card {
  margin: 10px;
}
.card img {
  max-width: 300px;
  height: auto;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
}
.card-title,
.enjoy {
  text-align: center;
}
.card-recipe {
  transition: all 0.5s linear;
}
.smooth {
  transition: all 0.5s linear;
}


/*Save buttons - ensures click event still works if icon inside button is clicked*/
.ex-save-btn > * {
  pointer-events: none;
}
.recipe-save-btn > * {
  pointer-events: none;
}


/*--Footer--*/
footer p {
  text-align: center;
  font-weight: 600;
  font-size: 1.5vw;
}

#favouriteMain {
  display: flex;
  justify-content: center;
}